.places {
  margin: 0;
  padding: 92px 148px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) and (max-width: 1150px) {
  .places {
    padding: 92px 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1022px) {
  .places {
    padding: 88px 24px;
  }
}

@media screen and (min-width: 335px) and (max-width: 767px) {
  .places {
    padding: 64px 12px 66px;
  }
}

@media screen and (min-width: 320px) and (max-width: 334px) {
  .places {
    padding: 64px 0 66px;
  }
}
