.header {
  max-width: 1184px;
  max-height: 52px;
  /*margin: 0 auto;*/
  padding: 28px 48px 0;
}
/*1024
@media screen and (max-width: 1024px) {
  padding: 28px 48px 0;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px) {

}
@media screen and (max-width: 375px) {

}
@media screen and (max-width: 320px) {

}*/
