.footer__links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 321px) and (max-width: 640px) {
  .footer__links {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    display: flex;
    flex-direction: column;
  }
}
