.website__url-heading {
  padding: 0;
  margin: 0 0 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  text-transform: uppercase;
}

@media screen and (min-width: 321px) and (max-width: 630px) {
  .website__url-heading {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .website__url-heading {
    padding: 0 16px 12px;
  }
}
