.cover {
  max-width: 1184px;
  min-height: 720px;
  margin: 0 auto 92px;
  color: #fff;
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin: 0 auto 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 506px) {
  .cover {
    min-height: 200px;
    margin: 0 auto 64px;
  }
}
