.cover {
  width: 1184px;
  height: 740px;
  padding-bottom: 92px;
  margin: 0 auto;
  background-image: url(../../images/cover__background.jpg);
  background-size: cover;
  background-position: center;
  text-decoration: none;
  color: #fff;
  position: relative;
}
