.cover__title {
  margin: 0 auto;
  max-width: 560px;
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 321px) and (max-width: 361px) {
  .cover__title {
    margin: 0 auto;
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin: 0 auto;
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
  }
}
