.photos {
  margin: 0 auto;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .photos {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .photos {
    max-width: 720px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .photos {
    max-width: 288px;
  }
}
